In [ ]:
#Create a basic python calculator that also performs modulo and exponential operations on two variables.

#creating two variables
a = input("Please enter first input\t")
b = input("Please enter second input\t")

Please enter first input	4
Please enter second input	5

In [ ]:
#in order to solve for x4, we rearrange the function to make x4 the subject
#so if we rearrange the equation for x4 we get,
#x4 = ((x5-x1+x2)/(5*(4*x3)))**(1/3)

x1= float (input("Enter x1 value = "))
x2= float (input("Enter x2 value = "))
x3= float (input("Enter x3 value = "))
x5= float (input("Enter x5 value = "))
x4= ((x5-x1+x2)/(5*(4*x3)))**(1/3)
print("x4 Value = ", x4)

Enter x1 value = 1
Enter x2 value = 2
Enter x3 value = 3
Enter x5 value = 5
x4 Value =  0.4641588833612779

In [ ]:
print("Data Type of 'a' is\t", type(a))
print("Data Type of 'b' is\t", type(b))

Data Type of 'a' is	 <class 'str'>
Data Type of 'b' is	 <class 'str'>

In [ ]:
#Type conversion
a = int(a)
b = int(b)
print("Converting 'a' to String\t", a)
print("Converting 'b' to String\t", b)

Converting 'a' to String	 4
Converting 'b' to String	 5

In [ ]:
type(a)
type(b)

int

In [ ]:
print("Sum of the numbers is\t", a+b)
print("Subtraction of the numbers is\t", a-b)
print("Multiplication of the numbers is\t", a*b)
print("Divison of the numbers is\t", a/b)
print("Exponent of the number a wrt to b is\t", a**b)
print("Modulo of the numbers is\t", a%b)

Sum of the numbers is	 9
Subtraction of the numbers is	 -1
Multiplication of the numbers is	 20
Divison of the numbers is	 0.8
Exponent of the number a wrt to b is	 1024
Modulo of the numbers is	 4

In [ ]:
# Conacatenate two strings
#creating two variables
a = input("Please enter first input\t")
b = input("Please enter second input\t")

Please enter first input	Maliha
Please enter second input	Nadeem

In [ ]:
a+b

'MalihaNadeem'

In [ ]:
# Prompt input from a user and calculate the sum of the floating values.

a=float(input("Enter first number"))
b=float(input("Enter second number"))
c=a+b
print(c)

Enter first number2.5
Enter second number2.5
5.0

In [ ]:
# Concatenate two integer strings
a= input("enter value 1\t")
b = input("enter value 2\t")
print("Answer is \t",a+b)

enter value 1	10
enter value 2	20
Answer is 	 1020

In [ ]:
#Assignment
i=0
x=[]
while (i<4):
  a = float(input("Enter an input\t"))
  x.append(a)
  i=i+1

#list start from 0 so x1 will be x[0] and so on
# given equation = x1- x2 + 4x3 * 5x4 - x5 = 0
# x[1] -> x[0]
# x[2] -> x[1]
# x[3] -> x[2]
# x[5] -> x[3]
# x4 -> variable and nothing to do with the list
#plug in values and solve.

Enter an input	3
Enter an input	2
Enter an input	4
Enter an input	2