In [ ]:
character_name="Tom"
character_age = "50"
print("There once a man named "+character_name+",")
print("he was"+character_age+"years old.")
print("He really liked the name "+character_name+",")
print("didnt like being "+character_age+".")
character_name="Dale"
print("There once a man named "+character_name+",")
print("he was "+character_age+" years old.")

There once a man named Tom,
he was50years old.
He really liked the name Tom,
didnt like being 50.
There once a man named Dale,
he was 50 years old.